@charset "UTF-8";

.z1_0{
	background:linear-gradient(140deg, #f77 40%, #ddd);
}
.z1_1{
	background:linear-gradient(140deg, #f77 40%, #faa);
}

.z1_2{
	background:linear-gradient(140deg, #f77 40%, #aaf);
}
.z1_3{
	background:linear-gradient(140deg, #f77 40%, #8f8);
}
.z1_4{
	background:linear-gradient(140deg, #f77 40%, #ff8);
}
.z1_5{
	background:linear-gradient(140deg, #f77 40%, #f8f);
}

.z2_0{
	background:linear-gradient(140deg, #77f 40%, #ddd);
}
.z2_1{
	background:linear-gradient(140deg, #77f 40%, #faa);
}

.z2_2{
	background:linear-gradient(140deg, #77f 40%, #aaf);
}
.z2_3{
	background:linear-gradient(140deg, #77f 40%, #8f8);
}
.z2_4{
	background:linear-gradient(140deg, #77f 40%, #ff8);
}
.z2_5{
	background:linear-gradient(140deg, #77f 40%, #f8f);
}

.z3_0{
	background:linear-gradient(140deg, #8e8 40%, #ddd);
}
.z3_1{
	background:linear-gradient(140deg, #8e8 40%, #faa);
}
.z3_2{
	background:linear-gradient(140deg, #8e8 40%, #aaf);
}
.z3_3{
	background:linear-gradient(140deg, #8e8 40%, #8f8);
}
.z3_4{
	background:linear-gradient(140deg, #8e8 40%, #ff8);
}
.z3_5{
	background:linear-gradient(140deg, #8e8 40%, #f8f);
}

.z4_0{
	background:linear-gradient(140deg, #ffa 40%, #ddd);
}
.z4_1{
	background:linear-gradient(140deg, #ffa 40%, #faa);
}
.z4_2{
	background:linear-gradient(140deg, #ffa 40%, #aaf);
}
.z4_3{
	background:linear-gradient(140deg, #ffa 40%, #8f8);
}
.z4_4{
	background:linear-gradient(140deg, #ffa 40%, #ff8);
}
.z4_5{
	background:linear-gradient(140deg, #ffa 40%, #f8f);
}

.z5_0{
	background:linear-gradient(140deg, #c5c 40%, #ddd);
}
.z5_1{
	background:linear-gradient(140deg, #c5c 40%, #faa);
}
.z5_2{
	background:linear-gradient(140deg, #c5c 40%, #aaf);
}
.z5_3{
	background:linear-gradient(140deg, #c5c 40%, #8f8);
}
.z5_4{
	background:linear-gradient(140deg, #c5c 40%, #ff8);
}
.z5_5{
	background:linear-gradient(140deg, #c5c 40%, #f8f);
}