body {
	background-color: silver;
	font-family:"メイリオ","Meiryo","ヒラギノ角ゴ","Roboto","Verdana","Ubuntu";
}

#container {
	background-color: whitesmoke;
	width: 640px;
	min-height: 750px;
	margin: 0 auto;
	border-bottom-left-radius: 30px 20px;
	border-bottom-right-radius: 30px 20px;
}

h1{
	border: solid 5px #555;
	background-color: #222;
	text-align: center;
	font-size: 28px;
	color: #eee;
}
header p {
	text-align: center;
	padding: 5px;
	margin:5px 0px;
	color: #c36;
}
#linker {
	color:black;
	font-size:10px;
	text-align:center;
	margin-bottom:15px;
}
#linker a{
	font-size:10px;
	color:#888;
}
#linker a:hover{
	font-size: 9px;
	color:#f88;
}
article{
	width:600px;
	margin:0 auto;
	padding:10px 0 20px;
}
article h3{
	color:green;
	font-size: 14px;
}
article h3:hover{
	cursor: pointer;
}
article p{
	font-size: 12px;
	line-height: 18px;
	color:black;
}
article textarea{
	display:block;
	margin:5px 0px;
	width:600px;
	height:100px;
}
.strong{
	color:#c36;
}
.minor{
	font-size: 11px;
	line-height: 17px;
	color:gray;
}
#send_msg{
	width:137px;
	margin: 0 auto;
}
#send_msg input[type=button]{
	width:135px;
	height:40px;
}
#tab li{
	float:left;
	width:150px;
	height:20px;
	padding:10px;
	margin:0 15px 0 0;
	text-align:center;
	font-weight:700;
	border-top-left-radius: 15px 15px;
	border-top-right-radius: 15px 15px;
	list-style:none;
}
#tab li:first-child{
	background-color:#66c;
	cursor:pointer;
}
#tab li:last-child{
	background-color:#399;
	color:#999;
	cursor:pointer;
}
section{
	background-color:#66c;
	padding:10px;
}
#chb{
	margin:10px;
	padding:0 0 0 20px;
	background-color: #bbd;
	border: ridge 3px white;
}
#chb label {
	display:block;
	margin: 10px;
	font-size: 13px;
	font-weight: 700;
	float: left;
	width: 100px;
}

#chb label:last-child {
	width:180px;
	margin:7px;
}
#chb select{
	background-color:ivory;
}

#rdo input {
	display: none;
}
#rdo label {
	display:block;
	text-align: center;
	margin: 10px 25px;
	padding: 1px;
	font-size: 13px;
	font-weight: 700;
	float: left;
	width: 80px;
	border: outset 2px #36b;
	border-radius: 1em;
	background-color: #69f;
}

#amu {
	margin: 10px;
	border: ridge 3px red;
	background-color: #f99;
	padding: 5px;
}
#amu p {
	float: left;
	width: 90px;
	margin: 5px;
	padding:3px 0 0 0;
	font-size: 13px;
	font-weight: 700;
}
#amu div {
	float: left;
	width: 100px;
	margin: 5px;
}
#amu div + div {
	width: 60px;
}

#weapon {
	margin: 10px;
	border: ridge 3px #246;
	background-color: #8bd;
	padding: 5px;
}
#weapon p {
	float: left;
	width: 90px;
	margin: 5px;
	font-size: 13px;
	font-weight: 700;
	padding: 3px 0 0;
}
#weapon div {
	float: left;
	width: 100px;
	margin: 5px;
}

#hatu {
	border: ridge 3px green;
	margin: 10px;
	background-color: #bdb;
	padding: 10px;
}
#hatu p {
	text-align: center;
	margin: 10px;
	font-size: 13px;
	font-weight: 700;
}
#hatu div div {
	float: left;
	width: 150px;
	margin: 3px;
	margin-left: 30px;
}

#sub {
	width: 150px;
	margin: 0 auto;
	padding: 10px 0 0;
}
input[type=submit] {
	width: 150px;
	height: 30px;
}
input[type=submit]:hover{
	font-weight:700;
	text-decoration:underline;
	cursor:pointer;
}

#ms {
	text-align: center;
	background-color: #9ff;
	border: ridge 3px #6cc;
	margin: 15px;
	padding: 5px;
}
#ms > table {
	font-size:12px;
}
#ms td:first-child {
	font-size:12px;
	background-color: #ddd;
	color:black;
}

.messe {
	text-align: center;
	margin: 10px;
	padding: 5px;
	background-color: #9ff;
	border: ridge 3px #6cc;
	border-radius: 1em;
}
.messe > table{
	font-size:12px;
}
.messe td:first-child {
	font-size:12px;
	background-color: #ddd;
	color:black;
}

.result {
	margin: 15px;
	padding: 5px;
	border: ridge 3px #3a3;
	background-color: #5c5;
	
}
.result div div {
	float: left;
	min-width: 200px;
	margin: 10px;
}
table {
	border: solid 3px gray;
	background-color: silver;
	margin: 0 auto;
	min-width: 110px;
	font-size: 15px;
}

caption {
	border: solid 2px #36c;
	border-left: solid 10px #36b;
	background-color: white;
}

th {
	padding: 0.3em;
	background-color: black;
	color: white;
}
td {
	padding: 0.3em;
	text-align: center;
	border: solid 1px #000;
	font-weight: 600;
}
td:nth-child(2n+1) {
	background-color: #ddd;
}
td:first-child {
	background-color: #333;
	color: white;
}
#res{
	margin:10px 0;
}
footer {
	height:10px;
}
