:root {
  --main-bg-color: brown;
}

body {
  background-color: #EEEEEE;
  margin: 0.5rem;
}

header h1 {
  background-color: #277;
  color: white;
  border: ridge 0.4rem #277;
  padding: 0.25rem;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.1rem #aaa;
  margin: 0 1vw;
}
header h1 > a {
  text-decoration: none;
  color: white;
}
header p {
  text-align: center;
  font-size: 0.8rem;
  margin: 1rem 0 0.8rem;
}
header .explain-toggle-close > * {
  display: none;
}
header .explain-toggle-close h5 {
  display: block;
}
header .explain-toggle-close h5 > span {
  transform: rotate(28deg);
}
header .explain-toggle-open > * {
  display: block;
}
header .explain-toggle-open h5 > span {
  transform: rotate(0deg);
}
header article {
  margin: 0px 4.8rem 1rem;
}
header article h5 {
  font-size: 1rem;
  color: #aaa;
  text-shadow: 1px 1px 1px #444;
  margin: 1rem 0 0;
  padding: 0 0 0 1.5rem;
  background: linear-gradient(130deg, #e0e0e0, #bbb);
  cursor: pointer;
  position: relative;
  border-radius: 0 1em 0 0;
}
header article h5 span {
  position: absolute;
  top: 0.2rem;
  left: 0.3rem;
  text-shadow: none;
  color: #999;
  font-size: 1rem;
}
header article div {
  padding: 0.2rem 3rem;
  border: solid 1px #ccc;
  border-top: dotted 1px #eee;
  background-color: #e0e0e0;
}
header article div ol {
  border: solid 1px black;
  background-color: white;
  font-size: 1rem;
  width: 40rem;
  padding: 0.5rem 0 0.5rem 2.1rem;
  margin: 0px auto 1rem;
}
header article div ol li {
  font-size: 1rem;
}
header article div .explain-this-site {
  text-align: center;
  font-size: 0.8rem;
}
header article div .explain-this-site img {
  display: inline-block;
  width: 11rem;
  height: 8rem;
  margin: 0.2rem 0.3rem;
}

main {
  overflow: auto;
}
main #your-nutrient {
  display: block;
}
main #menu-creator, main #material-creator {
  display: none;
}

#your-nutrient {
  border-radius: 0.6rem;
  background-color: black;
  border: solid 0.1rem gray;
}
#your-nutrient .nutrient-table {
  border-radius: 0.3rem;
  background-color: #222;
  margin: 0.2rem 1rem 0.6rem;
}
#your-nutrient .nutrient-table > h5 {
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: 0;
  padding: 0.6rem 1.2rem 0;
  font-weight: 400;
}
#your-nutrient .nutrient-table > ul {
  margin: 0 auto;
  padding: 0.6rem;
  overflow: hidden;
  list-style: none;
  /*width: 55.3rem;*/
}
#your-nutrient .nutrient-table > ul li {
  border-radius: 0.3rem;
  margin: 0.1rem;
  padding: 0.3rem 0.3rem 0;
  background-color: #444;
  float: left;
  width: 17.6rem;
  height: 1.5rem;
}
#your-nutrient .nutrient-table > ul li h6 {
  margin: 0;
  font-weight: normal;
  font-size: 0.8rem;
  color: #ddf;
  float: left;
  text-align: left;
  height: 1.5rem;
}
#your-nutrient .nutrient-table > ul li p {
  margin: 0;
  font-size: 0.8rem;
  color: #bbf;
  float: right;
  text-align: right;
  width: 10.6rem;
  height: 1.5rem;
}
#your-nutrient #your-abstract {
  cursor: pointer;
  background-color: #422;
  color: ivory;
  font-weight: 700;
  font-size: 1.1rem;
  margin: 1rem;
  padding: 0.3rem 1rem;
  box-shadow: 0.1rem 0.1rem #866;
}
#your-nutrient #your-input-area {
  background-color: #422;
  color: ivory;
  border: solid 0.2rem silver;
  padding: 0.7rem 0 0 1.7rem;
  width: 51.3rem;
  height: 20.7rem;
  margin: 2rem auto;
  position: relative;
  overflow: visible;
}
#your-nutrient #your-input-area > h4 {
  position: absolute;
  top: -1rem;
  left: -1.2rem;
  margin: 0;
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
  border: solid 0.2rem silver;
  background: #422;
  z-index: 2;
}
#your-nutrient #your-input-area > .fundamental {
  display: block;
  float: left;
  margin: 1rem 0.2rem 0.2rem;
  width: 5.2rem;
  height: 2.5rem;
  z-index: 2;
}
#your-nutrient #your-input-area > .fundamental > input[type=number] {
  background: #200;
  border: solid 1px #999;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  width: 2.8rem;
  color: white;
  text-align: right;
}
#your-nutrient #your-input-area > .fundamental#only-female-fieldset {
  width: 18.5rem;
}
#your-nutrient #your-input-area > fieldset {
  display: block;
  float: left;
  font-size: 0.8rem;
  margin: 0.6rem 0.2rem 0.2rem;
  width: 47rem;
  z-index: 2;
}
#your-nutrient #your-input-area > button {
  font-size: 1rem;
  position: absolute;
  bottom: -1rem;
  right: -1.2rem;
  background: #644;
  width: 12.5rem;
  color: silver;
  text-shadow: 1px 1px 1px #422;
  cursor: pointer;
  z-index: 3;
}
#your-nutrient #select-menu {
  background-color: #333;
  color: wheat;
  padding: 0.3rem;
  margin: 0.6rem;
  border-radius: 0.2rem;
}
#your-nutrient #select-menu > p.button-section {
  margin: 0.2rem 0 0 0.6rem;
  font-size: 1rem;
  overflow: auto;
}
#your-nutrient #select-menu > p.button-section span {
  display: inline-block;
  font-size: 0.8rem;
  margin: 1rem 0 0;
}
#your-nutrient #select-menu > p.button-section button {
  background-color: white;
  width: 180px;
  margin: 6px 10px;
  padding: 6px 12px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #aaa;
  cursor: pointer;
  float: right;
}
#your-nutrient #select-menu > p.button-section button:active {
  background-color: #eee;
  box-shadow: -1px -1px 1px #aaa;
}
#your-nutrient #select-menu > p.button-section #create-menu-button {
  border: solid 2px #aa6;
  color: #884;
}
#your-nutrient #select-menu > p.button-section #create-material-button {
  border-color: #3c3;
  color: #595;
}
#your-nutrient #select-menu h4 {
  margin: 1.2rem 0.2rem 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1rem;
}
#your-nutrient #select-menu ul {
  margin: 0.3rem;
  padding: 0;
  list-style: none;
  overflow: auto;
}
#your-nutrient #select-menu ul li {
  float: left;
  margin: 0.2rem 0.4rem;
}

#explore-perfect-button-box {
  background-color: #333;
  border-radius: 0.2rem;
  margin: 0.5rem;
  padding: 1rem;
}
#explore-perfect-button-box button {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0;
  width: 15rem;
  border: solid 2px #448;
  border-radius: 2rem;
  color: #448;
  background-color: white;
  box-shadow: 1px 1px 1px #ddd;
  cursor: pointer;
}

#menu-creator {
  background-color: #ddc;
  border-radius: 1rem;
}
#menu-creator .back-buttons {
  margin: 0;
  padding: 0;
  overflow: auto;
}
#menu-creator .back-buttons button {
  padding: 0.5rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#menu-creator .back-buttons button:first-child {
  float: left;
}
#menu-creator .back-buttons button:last-child {
  float: right;
}
#menu-creator .back-buttons img {
  width: 2rem;
  height: 2rem;
}
#menu-creator h5 {
  margin: 0 0 1rem 3rem;
  font-weight: normal;
  font-size: 1.5rem;
  color: #885;
}
#menu-creator #menu-name {
  font-size: 1rem;
  width: 15rem;
}
#menu-creator #menu-serving {
  border-radius: 0.4rem;
  width: 2rem;
  border: none;
  font-size: 1rem;
}
#menu-creator p {
  margin: 1rem;
  font-size: 1rem;
}
#menu-creator ul {
  margin: 0;
  padding: 0.2rem 0;
  overflow: auto;
  background: radial-gradient(#aca, transparent);
}
#menu-creator ul li {
  list-style: none;
  margin: 0.3rem 0 0.3rem 0.6rem;
  padding: 0.2rem;
  float: left;
}
#menu-creator ul li select {
  width: 15rem;
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 0.2rem;
}
#menu-creator ul li input {
  width: 3.2rem;
  border: none;
  border-radius: 0.2rem;
  margin: 0 0 0 0.5rem;
  height: 1.2rem;
  font-size: 1rem;
  text-align: right;
}
#menu-creator > div {
  background-color: #cca;
  border-radius: 1rem;
  margin: 1rem auto;
}
#menu-creator > div h6 {
  margin: 0 0.2rem;
  padding: 0.5rem 1rem 0;
  font-size: 0.8rem;
  font-weight: normal;
  color: #441;
}
#menu-creator > div dl {
  margin: 0 auto;
  padding: 0.1rem 0.5rem 0.5rem;
  overflow: auto;
  width: 912px;
  border-radius: 0.5rem;
}
#menu-creator > div dl dt {
  border-radius: 0.4rem 0 0 0.4rem;
  margin: 0.2rem 0 0.2rem 0.2rem;
  padding: 0.4rem 0 0px 0.4rem;
  background-color: #ddd;
  font-size: 0.8rem;
  color: #224;
  float: left;
  text-align: left;
  width: 8.5rem;
  height: 1.5rem;
}
#menu-creator > div dl dd {
  border-radius: 0 0.4rem 0.4rem 0;
  margin: 0.2rem 0.2rem 0.2rem 0;
  padding: 0.4rem 0.4rem 0px 0px;
  background-color: #ddd;
  color: #886;
  float: left;
  text-align: right;
  width: 8rem;
  height: 1.5rem;
}
#menu-creator .menu-button-box {
  text-align: center;
  padding: 0 0 1rem;
}
#menu-creator .menu-button-box > button {
  font-size: 1.2rem;
  border-radius: 1.2rem;
  margin: 0 1rem;
  width: 9rem;
  height: 2.5rem;
  color: #441;
  border: solid 2px #995;
  background-color: #eee;
  cursor: pointer;
}

#material-creator {
  background-color: #ded;
  border-radius: 1rem;
}
#material-creator .back-buttons {
  margin: 0;
  padding: 0;
  overflow: auto;
}
#material-creator .back-buttons button {
  padding: 0.5rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#material-creator .back-buttons button:first-child {
  float: left;
}
#material-creator .back-buttons button:last-child {
  float: right;
}
#material-creator .back-buttons img {
  width: 2rem;
  height: 2rem;
}
#material-creator h5 {
  margin: 0 0 1rem 3rem;
  font-weight: normal;
  font-size: 1.5rem;
  color: #585;
}
#material-creator > p {
  margin: 1rem;
  font-size: 1rem;
}
#material-creator > p #material-select {
  font-size: 1rem;
  height: 1.2rem;
  display: none;
}
#material-creator > p #material-name {
  font-size: 1rem;
  width: 18rem;
  height: 1.2rem;
}
#material-creator > p input[type=number] {
  font-size: 1rem;
  border-radius: 0.3rem;
  width: 4rem;
  height: 1.2rem;
  border: none;
}
#material-creator div {
  background-color: #666;
  border-radius: 1rem;
  margin: 0.5rem auto 0;
}
#material-creator div #material-suggestion {
  margin: 0;
  padding: 0.5rem 0 0 1rem;
  border-radius: 0.3rem 0.3rem 0 0;
  font-size: 0.8rem;
  font-weight: normal;
  color: #cec;
}
#material-creator div dl {
  margin: 0 auto;
  padding: 0.1rem 0 0.8rem 0.3rem;
  overflow: auto;
  text-shadow: none;
}
#material-creator div dl dt {
  border-radius: 0.3rem 0 0 0.3rem;
  margin: 0.2rem 0 0.2rem 0.2rem;
  padding: 0.3rem 0 0 0.3rem;
  background-color: #ddd;
  font-size: 0.8rem;
  color: #224;
  float: left;
  text-align: left;
  width: 8.3rem;
  height: 1.5rem;
}
#material-creator div dl dd {
  border-radius: 0 0.3rem 0.3rem 0;
  margin: 0.2rem 0.2rem 0.2rem 0;
  padding: 0.3rem 0.3rem 0 0;
  background-color: #ddd;
  color: #448;
  float: left;
  text-align: right;
  width: 4.8rem;
  height: 1.5rem;
}
#material-creator div dl dd input[type=number] {
  border-radius: 0.3rem;
  width: 3.8rem;
  border: none;
}
#material-creator .menu-button-box {
  text-align: center;
  padding: 0 0 1rem;
}
#material-creator .menu-button-box > button {
  font-size: 1.2rem;
  border-radius: 1.2rem;
  margin: 0 1rem;
  width: 9rem;
  height: 2.5rem;
  color: #141;
  border: solid 2px #595;
  background-color: #eee;
  cursor: pointer;
}

#explore-perfect {
  display: none;
  background-color: #dde;
  border-radius: 1rem;
  padding: 0.5rem;
}
#explore-perfect .back-buttons {
  margin: 0;
  padding: 0;
  overflow: auto;
}
#explore-perfect .back-buttons button {
  padding: 0.5rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#explore-perfect .back-buttons button:first-child {
  float: left;
}
#explore-perfect .back-buttons button:last-child {
  float: right;
}
#explore-perfect .back-buttons img {
  width: 2rem;
  height: 2rem;
}
#explore-perfect .explore-terminal {
  padding: 0 0 1rem;
}
#explore-perfect .explore-terminal > p:first-child {
  margin: 0.5rem 1rem 1.5rem;
}
#explore-perfect .explore-terminal > p:first-child label {
  margin: 0 2rem 0 0;
  padding: 0.5rem;
}
#explore-perfect .explore-terminal h6 {
  margin: 1rem 2rem 0;
  font-size: 1rem;
  font-weight: normal;
  color: #822;
}
#explore-perfect .explore-terminal h6:first-child {
  color: #228;
}
#explore-perfect .explore-terminal #contain-menu-list {
  margin: 0.5rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background: radial-gradient(#336, #669);
}
#explore-perfect .explore-terminal #contain-menu-list select {
  display: inline-block;
  margin: 0.5rem 1rem;
  border-radius: 0.5rem;
}
#explore-perfect .explore-terminal #not-contain-menu-list {
  margin: 0.5rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background: radial-gradient(#522, #855);
}
#explore-perfect .explore-terminal #not-contain-menu-list select {
  display: inline-block;
  margin: 0.5rem 1rem;
  border-radius: 0.5rem;
}
#explore-perfect #output-perfect article {
  background-color: #334;
  border-radius: 1rem;
  margin: 0.8rem 0;
  padding: 1rem;
}
#explore-perfect #output-perfect article h4 {
  margin: 0.5rem 2rem;
  padding: 0rem;
  font-size: 1rem;
  color: #cce;
  font-weight: normal;
}
#explore-perfect #output-perfect article .perfect-menu-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}
#explore-perfect #output-perfect article .perfect-menu-list li {
  float: left;
  margin: 0.5rem 0.3rem;
  padding: 0.5rem 0.7rem;
  color: #cce;
  width: 16.5rem;
  background-color: #113;
  border-radius: 0.5rem;
}
#explore-perfect #output-perfect article .perfect-menu-list li h6 {
  display: inline-block;
  margin: 0;
  width: 14.5rem;
  line-height: 1rem;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}
#explore-perfect #output-perfect article .perfect-menu-list li h6.one-length {
  width: 16.5rem;
}
#explore-perfect #output-perfect article .perfect-menu-list li span {
  display: inline-block;
  width: 2rem;
  line-height: 1rem;
  text-align: right;
}
#explore-perfect #output-perfect article .perfect-menu-nutrients-table {
  list-style: none;
  background: #111;
  width: 73.6rem;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border-radius: 1rem;
  overflow: auto;
}
#explore-perfect #output-perfect article .perfect-menu-nutrients-table li {
  float: left;
  margin: 0.4rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  background-color: #222;
  color: #bbc;
  width: 16rem;
}
#explore-perfect #output-perfect article .perfect-menu-nutrients-table li h5 {
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0;
  width: 5.5rem;
  display: inline-block;
}
#explore-perfect #output-perfect article .perfect-menu-nutrients-table li p {
  margin: 0;
  width: 10.5rem;
  text-align: right;
  display: inline-block;
}
#explore-perfect #output-perfect article .perfect-menu-nutrients-table li .danger-color {
  color: #c33;
}
#explore-perfect #output-perfect article .perfect-menu-nutrients-table li .caution-color {
  color: #a81;
}
#explore-perfect #output-perfect article .perfect-menu-nutrients-table li .safe-color {
  color: #080;
}
#explore-perfect #output-perfect article .perfect-menu-nutrients-table li .poor-color {
  color: #28c;
}
#explore-perfect #explore-button {
  display: block;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  margin: 1.5rem auto 0;
  width: 9rem;
  height: 2.5rem;
  color: #114;
  border: solid 2px #559;
  background-color: #eee;
  cursor: pointer;
}

footer p {
  margin: 0.5rem;
  font-size: 0.8rem;
}/*# sourceMappingURL=index2.css.map */