body {
	background-color: #EEEEEE;
	margin: 0.5rem;
}
header, main, footer{
	width: 100vw;
}
header{
	h1{
		background-color: #277;
		color: white;
		border: ridge 0.4rem #277;
		padding: 0.25rem;
		text-align: center;
		font-size: 2rem;
		text-shadow: 0.1rem 0.1rem 0.1rem #aaa;
		margin: 0.5rem;
		> a{
			text-decoration: none;
			color: white;
		}
	}
	p{
		text-align: center;
		font-size: 0.8rem;
		margin: 1rem 0 0.8rem;
	}
	.explain-toggle-close{
		> *{
			display: none;
		}
		h5{
			display: block;
			> span{
				transform: rotate(28deg);
			}
		}
	}
	.explain-toggle-open{
		> *{
			display: block;
		}
		h5 > span{
			transform: rotate(0deg);
		}
	}
	article{
		margin: 0px 4.8rem 1rem;
		h5{
			font-size: 1rem;
			color: #aaa;
			text-shadow: 1px 1px 1px #444;
			margin: 1rem 0 0;
			padding: 0 0 0 1.5rem;
			background: linear-gradient(130deg, #e0e0e0, #bbb);
			cursor: pointer;
			position: relative;
			border-radius: 0 1em 0 0;
			span{
				position: absolute;
				top: 0.2rem;
				left: 0.3rem;
				text-shadow: none;
				color: #999;
			}
		}
		div{
			padding: 0.2rem 3rem;
			border: solid 1px #ccc;
			border-top: dotted 1px #eee;
			background-color: #e0e0e0;
			ol{
				border: solid 1px black;
				background-color: white;
				font-size: 1rem;
				width: 40rem;
				padding: 0.5rem 0 0.5rem 2.1rem;
				margin: 0px auto 1rem;
				span{
					text-shadow: 1px 1px 1px black;
				}
			}
			.explain-this-site{
				text-align: center;
				font-size: 0.8rem;
				
				img{
					display: inline-block;
					width: 11rem;
					height: 8rem;
					margin: 0.2rem 0.3rem;
				}
			}
		}
	}
}

#your-nutrient{
	width: 94vw;
	margin: 0 auto;
	border-radius: 0.6rem;
	background-color: black;
	border: solid 0.1rem gray;
	.nutrient-table{
		border-radius: 0.3rem;
		background-color: #222;
		width: 56.6rem;
		margin: 0.2rem auto 0.6rem;
		> h5{
			color: white;
			text-shadow: 1px 1px 1px black;
			margin: 0;
			padding: 0.6rem 1.2rem 0;
			font-weight: 400;
			width: 54rem;
			> small{
				display: inline-block;
				padding: 0 0 0 0.6rem;
			}
		}
		> dl{
			margin: 0;
			padding: 0.6rem;
			overflow: hidden;
			width: 55.3rem;
			font-size: 0.8rem;
			dt{
				border-radius: 0.3rem 0 0 0.3rem;
				margin: 0.1rem 0 0.1rem 0.1rem;
				padding: 0.3rem 0 0px 0.3rem;
				background-color: #444;
				color: #ddf;
				float: left;
				text-align: left;
				width: 7rem;
				height: 1.5rem;
			}
			dd{
				border-radius: 0 0.3rem 0.3rem 0;
				margin: 0.1rem 0.1rem 0.1rem 0;
				padding: 0.3rem 0.3rem 0px 0px;
				background-color: #444;
				color: #bbf;
				float: left;
				text-align: right;
				width: 10.6rem;
				height: 1.5rem;
			}
		}
	}
	#your-abstract{
		cursor: pointer;
		background-color: #422;
		color: ivory;
		font-weight: 700;
		font-size: 1.1rem;
		margin: 1rem;
		padding: 0.3rem 1rem;
		box-shadow: 0.1rem 0.1rem #866;
	}

	#your-input-area{
		background-color: #422;
		color: ivory;
		border: solid 0.2rem silver;
		padding: 0.7rem 0 0 1.7rem;
		width: 51.3rem;
		height: 20.7rem;
		margin: 2rem auto;
		position: relative;
		overflow: visible;
		
		> h4{
			position: absolute;
			top: -1rem;
			left: -1.2rem;
			margin: 0;
			padding: 0.1rem 0.3rem;
			font-size: 1rem;
			border: solid 0.2rem silver;
			background: #422;
			z-index: 2;
		}
		> .fundamental {
			display: block;
			float: left;
			margin: 1rem 0.2rem 0.2rem;
			width: 4.8rem;
			height: 2.5rem;
			z-index: 2;
			> input[type="number"]{
				background: #200;
				border: solid 1px #999;
				border-top: solid 1px #ccc;
				border-left: solid 1px #ccc;
				width: 2.8rem;
				color: white;
				text-align: right;
			}
		}
		> .fundamental#only-female-fieldset {
			width: 18.5rem;
		}
		> fieldset{
			display: block;
			float: left;
			font-size: 0.8rem;
			margin: 0.6rem 0.2rem 0.2rem;
			width: 47rem;
			z-index: 2;
		}
		> button{
			font-size: 1rem;
			position: absolute;
			bottom: -1rem;
			right: -1.2rem;
			background: #644;
			width: 12.5rem;
			color: silver;
			text-shadow: 1px 1px 1px #422;
			cursor: pointer;
			z-index: 3;
		}
	}
	#select-menu{
		background-color: #333;
		color: wheat;
		padding: 0.3rem;
		margin: 0.6rem;
		border-radius: 0.2rem;
		> p{
			margin: 0.2rem 0 0 0.6rem;
			font-size: 1rem;
		}
		h4{
			margin: 1.2rem 0.2rem 0;
		}
		ul{
			margin: 0.3rem;
			padding: 0;
			list-style: none;
			overflow: auto;
			li{
				float: left;
				margin: 0.2rem 0.4rem;
			}
		}
	}

}

#button-section{
	border: solid 2px gray;
	border-radius: 10px;
	margin: 12px;
	padding: 10px;
	text-align: center;
	background-color: black;
	button{
		background-color: white;
		width: 180px;
		margin: 6px 10px;
		padding: 6px 12px;
		border-radius: 15px;
		box-shadow: 1px 1px 1px #aaa;
		cursor: pointer;
	}
	button:active{
		background-color: #eee;
		box-shadow: -1px -1px 1px #aaa;
	}
	#create-menu-button{
		border: solid 2px #aa6;
		color: #884;
	}
	#create-material-button{
		border-color: #3c3;
		color: #595;
	}
}

#section-selecter{
	background: rgba(0,0,0,.6);
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	#hide-button{
		padding: 5px;
		margin: 0 0 0 calc(50% + (920px - 40px)/2);
		background: none;
		border: none;
		color: white;
		font-size: 40px;
		cursor: pointer;
	}
	#hide-button2{
		display: block;
		background-color: white;
		border: solid 2px gray;
		border-radius: 20px;
		color: gray;
		font-size: 16px;
		margin: 8px auto 0;
		padding: 5px 30px;
		cursor: pointer;
	}
	#menu-creator{
		background-color: #bb4;
		color: #bb2;
		> h5{
			background: linear-gradient(180deg, #882, #660);
		}
		#menu-serving{
			border-radius: 5px;
			width: 32px;
			border: none;
		}
		ul{
			margin: 0;
			padding: 0;
			overflow: auto;
			li{
				list-style: none;
				border-radius: 5px;
				margin: 5px 12px;
				padding: 8px;
				background-color: #6b3;
				float: left;
			}
		}
		> ul select{
			width: 250px;
			border-radius: 2px;
		}
		> ul input{
			width: 70px;
			border: none;
			border-radius: 2px;
			margin: 0 0 0 10px;
			height: 16px;
			text-align: right;
		}
		#menu-suggestion{
			background-color: #aa4;
			color: #ed0;
			margin: 8px auto 0px;
			width: 880px;
			padding: 8px 0 0 10px;
			border-radius: 5px 5px 0 0;
			font-weight: normal;
		}
		> dl{
			background-color: #aa4;
			dt, dd{
				background-color: #885;
				color: #eee;
			}
		}
		button{
			border: solid 2px #cc8;
			color: #995;
		}
	}
	#menu-creator, #material-creator{
		text-shadow: 1px 1px 1px black;
		width: 920px;
		margin: 5px auto 0;
		padding: 5px;
		border-radius: 10px;
		> h5{
			width: 260px;
			margin: 1px 2px 5px;
			padding: 2px 10px;
			border-radius: 5px;
			text-align: center;
		}
		button{
			background-color: white;
			margin: 6px 10px;
			padding: 6px 12px;
			border-radius: 15px;
			box-shadow: 1px 1px 1px #aa6;
		}
		button:disabled{
			filter: grayscale(50);
			box-shadow: none;
		}
		dl{
			margin: 0 auto;
			padding: 5px;
			overflow: auto;
			width: 880px;
			border-radius: 0 0 5px 5px;
		}
		> dl dt, > dl dd{
			text-shadow: none;
		}
	}
	#menu-creator > dl, #material-creator{
		dt{
			border-radius: 5px 0 0 5px;
			margin: 2px 0 2px 2px;
			padding: 5px 0 0px 5px;
			background-color: #ddd;
			font-size: 12px;
			color: #224;
			float: left;
			text-align: left;
			width: 130px;
			height: 25px;
		}
		dd{
			border-radius: 0 5px 5px 0;
			margin: 2px 2px 2px 0;
			padding: 5px 5px 0px 0px;
			background-color: #ddd;
			color: #448;
			float: left;
			text-align: right;
			width: 76px;
			height: 25px;
		}
	}
	#material-creator{
		background-color: #8d8;
		color: #3c3;
		> h5{
			background: linear-gradient(180deg, #282, #060);
		}
		button{
			border-color: #3c3;
			color: #595;
		}
		input[type="number"]{
			border-radius: 5px;
			width: 60px;
			border: none;
		}
		#material-suggestion{
			margin: 8px auto 0px;
			width: 880px;
			background-color: #666;
			padding: 8px 0 0 10px;
			border-radius: 5px 5px 0 0;
			font-weight: normal;
			color: #8d8;
		}
		dl {
			background-color:#666;
			color: #060;
			margin: 0 auto;
			overflow: auto;
			text-shadow: none;
		}
	}
}
footer{
	p {
		margin: 0.5rem;
		font-size: 0.8rem;
	}
}